/Assigment1/TuubiWebApp/Debug
/Assigment2/WeatherApp/obj/Debug
/Assigment2/WeatherApp/Bin/Debug
/Assigment2/WeatherApp/obj/Debug
/Assigment1/TuubiWebApp/Bin/Debug
/Assigment1/TuubiWebApp/obj/Debug
/Assigment2/WeatherApp/Bin
/Assigment2/WeatherApp/obj
/Assigment1/TuubiWebApp/Bin
/Assigment1/TuubiWebApp/obj
